*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    justify-content: flex-end;
    display: flex;
    height: 50px;
    color: white;
}

.view{
    background-color:#6c6c6c;
    border: 5px solid #6c6c6c;
    border-radius: 10px 10px 10px 10px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.view span{
    font-size: 16px;
}

.view i{
    font-size: 18px;
}

footer{
    background-color: #4c4b4b;
    color: white;
    font-size: 13px; 
    top: 0;
    left: 0;
    width: 100%;  

}


#main-nav{
    min-height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1%;
}

i{
    font-size: 30px;
    padding-bottom: 5px;
}

 .j i{
    margin-top: 12px;
    font-size: 12px;
}

.uno{
    display: flex;
    justify-content: space-between;
    flex-basis: 160px;
    text-align: center;
}

.uno.due{
    flex-basis: 660px;
}


.end{
    background-color:#7b7878 ;
    border: 0px solid #7b7878;
    border-width: 30px;
    color: red;
}

main{
    background-color: black;
    padding-left: 2%;
    padding-right: 2%;
    height: 86.8vh; 
    overflow: auto;
}

.container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

img{
    width:242px;
    height: 144px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.block{
    background-color: #7b7878a5;
    font-size: 15px;
    position: absolute;
    bottom: 8%;
    left: 5%;
    color: white;
    display: flex;
    border: 2px solid #7b7878a5;
}

.block i{
    font-size: 15px;
}


.window{
    position: relative;
}