*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


footer{
    background-color: #4c4b4b;
    color: white;
    font-size: 13px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1000;
}
 



#main-nav{
    min-height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1%;
}

i{
    font-size: 30px;
}

 .j i{
    margin-top: 12px;
    font-size: 12px;
}

.uno{
    display: flex;
    justify-content: space-between;
    flex-basis: 160px;
    text-align: center;
}

.uno.due{
    flex-basis: 660px;
}


.end{
    background-color:#7b7878 ;
    border: 0px solid #7b7878;
    border-width: 30px;
    color: red;
}